{:builds       {:karma-test {:target        :karma
                             :src-ns-regexp "^(?=.*?\\bcoverage/\\b)((?!_test\\.cljs).)*$"
                             :ns-regexp     "-test$"
                             :output-to     "target/foo"
                             :output-dir    "target"}}

 :source-paths ["src/main"
                "src/test"]}
