{:builds       {:karma-test {:target     :karma-coverage
                             :ns-regexp  "-test$"
                             :output-to  "target/karma-test.js"}}

 :source-paths ["src/main"
                "src/test"]}
